<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Anuario</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="#" id="perfilnav">
                <h1>Bienvenido Admin</h1>
            </a>

        </div>
        <div class="navigation">

            <input type="checkbox"class="toggle-menu">
            <div class="hamburger"></div>

            <ul class="menu">
                <li><a href="/welcome">Inicio</a></li>
                <li><a href="/alumnosSesion">Alumnos</a></li>
                <li><a href="/proyectosSesion">Proyectos</a></li>
                
                <div class="mar">
                <button class="upbutton">
                    <li><a href="/logout">Cerrar Sesion</a></li>
                </button>
                </div>
            </ul>

        </div>
    </header>

    <section>
        
        <div class="content">
            <h2>Usuario Administrador</h2>
            <div id="user-info">

                <img src="<%=user.imagen%>" alt="" srcset="">
                <div id="info-user">
                    <h1>Nombre</h1>
                    <p><%=user.nombre%></p>
                    <h1>Email</h1>
                    <p><%=user.email%></p>
                </div>
                <div id="button-user">
                    <a href="/administracionAlumnos" class="miBoton">Administrar Alumnos</a>
                    <a href="/administracionProyectos" class="miBoton">Administrar Proyectos</a>
                    <a href="/views/registrarAdmin.html" class="miBoton">Nuevo admin</a>

                </div>
            </div>
        </div>

    </section>

</body>
</html>